input:focus {
  box-shadow: inset 2px 0px 17px -2px #daeac0;
}

.button:focus {
  background-color: #98ac78;
}

.icon-button {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.toggle-completed-button {
  margin-right: 0.75rem;
}

.aufgaben-hero-text {
  font-family: "Kaushan Script", cursive;
  color: #515c3f;
}

.aufgaben-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #a6ba86;
}

.button:focus {
  outline: none;
}

.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.15em solid #515c3f;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.8em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #515c3f;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  color: black;
  background-color: #98ac78;
}

@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.4em auto;
  }
}
