input:focus {
  box-shadow: inset 2px 0px 17px -2px #daeac0;
}

.button:focus {
  background-color: #98ac78;
}

.icon-button {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.toggle-completed-button {
  margin-right: 0.75rem;
}

.aufgaben-hero-text {
  font-family: "Kaushan Script", cursive;
  color: #515c3f;
}

.aufgaben-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #a6ba86;
}

.button:focus {
  outline: none;
}

.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.15em solid #515c3f;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.8em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #515c3f;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  color: black;
  background-color: #98ac78;
}

@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.4em auto;
  }
}

.website-content {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.calendar {
  margin-right: 30px;
}

.todo-form {
}

.react-calendar {
  font-family: "Roboto", sans-serif;
  display: block;
  background: #687652;
  border: solid 3px #313827;
  border-radius: 2%;
  margin: 20px auto;
  text-align: center;
}

.react-calendar__month-view__weekdays {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}

.react-calendar__navigation button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.3em;
}

.react_calendar__navigation {
  width: 600px;
}

.react-calendar__navigation__arrow {
  display: none;
}

.react-calendar__navigation__label {
  font-size: 32px;
}

.react-calendar__tile {
  height: 40px;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 16px;
  color: white;
}

.react-calendar__tile--active {
  background: #99ab7b;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #adc08e;
  outline: #99ab7b;
}

.react-calendar__tile,
.react-calendar__month-view__weekdays {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.react-calendar__month-view__days__day {
  font-size: 16px;
  color: white;
}

